<table id="post-table">
  <tr>
    <th>Text</th>
    <th>Reaction</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let post of replies">
    <td>{{ post.text }}</td> 
    <td>{{ post.netReactions }}</td>
    <td><button (click)="navigateToReplies(post.comment_id)">Show Replies</button></td>
    <td>
      <button class="btn btn-info" (click)="updateComment(post.comment_id)">Update</button>
      <button style="margin-left: 20px;" class="btn btn-success" (click)="upvoteComment(post.comment_id)">Upvote</button>
      <button style="margin-left: 10px;" class="btn btn-danger" (click)="downvoteComment(post.comment_id)">Downvote</button>
      <button style="margin-left: 20px;" class="btn btn-info" (click)="reportComment(post.comment_id)">Report</button>
      <button style="margin-left: 20px;" class="btn btn-info" (click)="createReply(post.comment_id)">Reply</button>
    </td>
  </tr>  
</table>