<table id="user-table">
    <tr>
      <th>Avatar</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Adresa</th>
      <th>User Role</th>
      <th>Suspend</th>
    </tr>
    <tr *ngFor="let a of users">
      <td><img height="50" width="50" [src]="a.sanitisedImage" /></td>
      <td> {{ a.username }} </td>
      <td>{{ a.email }}</td>
      <td>{{ a.displayName }}</td>
      <td>{{ a.userRole}}</td><td>
        {{ a.suspended ? 'BANNED' : 'UNBANNED' }}
      </td>
      <td><button  (click)="updateCommunity(a.user_id)">Update</button></td>
      <td><button  (click)="switchUserRole(a.user_id)">Switch Role</button></td>
      <td><button  (click)="suspendUser(a.user_id)">Suspend User</button></td>
      <td><button  (click)="returnUser(a.user_id)">Unsuspend User</button></td>
    </tr>
</table>
