<div class="card col-md-6 offset-md-3">
    <h3>Register</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" [(ngModel)]="user.username" id="username" required name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" [(ngModel)]="user.password" id="password" required name="password">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" [(ngModel)]="user.email" id="email" required name="email">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" [(ngModel)]="user.description" id="description" type= 'description' required name="description">
            </div>
            <div class="form-group">
                <label for="displayName">Display Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.displayName" id="displayName" required name="displayName">
            </div>
            
            <div class="form-group">
                <label for="userRole">User Role</label>
                <select id="userRole" [(ngModel)]="user.userRole" name="userRole">
                    <option value="USER">User</option>
                    <option value="MODERATOR">Moderator</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form> 
        <button class="btn btn-primary" (click)="redirectToHome()">Home</button>
        <button class="btn btn-primary" (click)="redirectToLogin()">Login</button>
</div>
