<div class="card col-md-6 offset-md-3">
    <h3>Create Post</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" [(ngModel)]="posts.title" id="title" required name="title">
            </div>
            <div class="form-group">
                <label for="name">Text</label>
                <input type="text" class="form-control" [(ngModel)]="posts.text" id="text" required name="text">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form> 
</div>
