<table id="post-table">
  <tr>
    <th>Community</th>
  </tr>
  <tr>
    <td>{{ community.name }}</td>
  </tr>
</table>
<table id="post-table">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Reaction count</th>
    <th>Comment count</th>
  </tr>
  <tr *ngFor="let post of searchResults">
    <td>{{ post.text }}</td>
    <td> {{ post.title }} </td> 
    <td>{{ post.netReactions}} </td>
    <td>{{ post.commentCount }}</td>
    <td>
      <button style="margin-left: 20px;" class="btn btn-success" (click)="upvotePost(post.post_id)">Upvote</button>
      <button style="margin-left: 10px;" class="btn btn-danger" (click)="downvotePost(post.post_id)">Downvote</button>
      <button class="btn btn-info" (click)="showComments(post.post_id)">Comments</button>
    </td>
  </tr>   
</table>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <label for="title">Text:</label>
  <input type="text" id="title" formControlName="title">

  <label for="text">Title:</label>
  <input type="text" id="text" formControlName="text">

  <label for="fromReactionCount">From Comment Count:</label>
  <input type="number" id="fromReactionCount" formControlName="fromReactionCount">

  <label for="toReactionCount">To Comment Count:</label>
  <input type="number" id="toReactionCount" formControlName="toReactionCount">

  <label for="fromCommentCount">From Reaction Count:</label>
  <input type="number" id="fromCommentCount" formControlName="fromCommentCount">

  <label for="toCommentCount">To Reaction Count:</label>
  <input type="number" id="toCommentCount" formControlName="toCommentCount">

  <button type="submit">Search</button>
</form>