<table id="post-table">
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <tr *ngFor="let post of searchResults">
    <td>{{ post.text }}</td>
    <td> {{ post.title }} </td> 
    <td>
      <button class="btn btn-info" (click)="showComments(post.post_id)">Comments</button>
    </td>
  </tr>   
</table>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <label for="name">Title:</label>
  <input type="text" id="title" formControlName="title">
  <br>
  <label for="description">Text:</label>
  <input type="text" id="text" formControlName="text">
  <br>
  <button type="submit">Search</button>
</form>