<div class="center">
    <h2 style="margin-left: auto; margin-right: auto;">Community</h2> 
    
    <hr/>
    <div *ngIf="community">
      <div class="field">
        <label><b>Name: </b></label> {{community.name}}
      </div>
      <div  class="field">
        <label><b>Description: </b></label> {{community.description}}
      </div>
      <div  class="field">
        <label><b>PDF Name: </b></label> {{community.communityPDFName}}
      </div>
      <td><button  class="btn btn-info" (click)="showPost(community.community_id)">Posts</button></td>
    </div>
    <br>
    <br>
    <div class="buttons">
        <button (click)="goHome()" class="btn btn-primary">Home</button><br>    
    </div>
    </div>