<form [formGroup]="searchForm" (ngSubmit)="search()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">
  <br>
  <label for="description">Description:</label>
  <input type="text" id="description" formControlName="description">
  <br>
  <label for="fromPostCount">From Post Count:</label>
  <input type="number" id="fromPostCount" formControlName="fromPostCount">

  <label for="toPostCount">To Post Count:</label>
  <input type="number" id="toPostCount" formControlName="toPostCount">

  <label for="fromReactionCount">From Reaction Count:</label>
  <input type="number" id="fromReactionCount" formControlName="fromReactionCount">

  <label for="toReactionCount">To Reaction Count:</label>
  <input type="number" id="toReactionCount" formControlName="toReactionCount">
  <button type="submit">Search</button>
</form>
<table id="post-table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>PDF</th>
      <th>Post count</th>
      <th>Average reactions</th>
    </tr>
    <tr *ngFor="let a of searchResults">
      <td>{{ a.name }}</td>
      <td>{{ a.description}} </td>
      <td>{{ a.communityPDFName}} </td>
      <td>{{ a.postCount }}</td>
      <td>{{ a.totalReaction}}</td>
      <td>  
        <button style="margin-left: 500px;" class="btn btn-info" (click)="updateCommunity(a.community_id)">Update</button>
        <button style="margin-left: 500px;" class="btn btn-info" (click)="showPost(a.community_id)">Posts</button>
        <button style="margin-left: 500px;" class="btn btn-info" (click)="createPost(a.community_id)">Create Post</button>
      </td>  
    </tr>
</table>
<button class="btn btn-primary" (click)="createCommunity()">Add</button>

