<table id="post-table">
  
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Post count</th>
      <th>Average reactions</th>
    </tr>
    <tr *ngFor="let a of searchResults">
      <td>{{ a.name }}</td>
      <td>{{ a.description}} </td>
      <td>{{ a.postCount }}</td>
      <td>{{ a.totalReaction}}</td>
      <td>  
        <button style="margin-left: 500px;" class="btn btn-info" (click)="updateCommunity(a.community_id)">Update</button>
        <button style="margin-left: 500px;" class="btn btn-info" (click)="showPost(a.community_id)">Posts</button>
      </td>  
    </tr>
</table>
<button class="btn btn-primary" (click)="createCommunity()">Add</button>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">
  <br>
  <label for="description">Description:</label>
  <input type="text" id="description" formControlName="description">
  <br>
  <button type="submit">Search</button>
</form>
