<form [formGroup]="searchForm" (ngSubmit)="search()">
  <label for="title">Title:</label>
  <input type="text" id="title" formControlName="title">

  <label for="text">Text:</label>
  <input type="text" id="text" formControlName="text">

  <label for="fromReactionCount">From Comment Count:</label>
  <input type="number" id="fromReactionCount" formControlName="fromReactionCount">

  <label for="toReactionCount">To Comment Count:</label>
  <input type="number" id="toReactionCount" formControlName="toReactionCount">

  <label for="fromCommentCount">From Reaction Count:</label>
  <input type="number" id="fromCommentCount" formControlName="fromCommentCount">

  <label for="toCommentCount">To Reaction Count:</label>
  <input type="number" id="toCommentCount" formControlName="toCommentCount">

  <button type="submit">Search</button>
</form>
<table id="post-table">
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Reaction count</th>
      <th>Comment count</th>
    </tr>
    <tr *ngFor="let a of searchResults">
      <td>{{ a.title }}</td>
      <td>{{ a.text}} </td>
      <td>{{ a.netReactions}} </td>
      <td>{{ a.commentCount }}</td>
      <td> 
        <button  style="margin-left: 20px;" class="btn btn-success" (click)="upvotePost(a.post_id)">Upvote</button>
        <button style="margin-left: 10px;" class="btn btn-danger" (click)="downvotePost(a.post_id)">Downvote</button>
      </td> 
      <td>
        <button (click)="navigateToCommunity(a.community_id)">View Community</button>
        <button class="btn btn-info" (click)="showComments(a.post_id)">View Comments</button>
      </td>
      <td> 
        <button (click)="navigateToCommentCreation(a.post_id)">Create Comment</button>
      </td> 
      
      <td>
        <button style="margin-left: 20px;" class="btn btn-info" (click)="updatePost(a.post_id)">Update</button>
      </td> 
      <td>
        <button style="margin-left: 20px;" class="btn btn-info" (click)="reportPost(a.post_id)">Report</button>
      </td>
    </tr>
</table>



