<table id="post-table">
    <tr>
      <th>Title</th>
      <th>Text</th>
    </tr>
    <tr *ngFor="let a of searchResults">
      <td>{{ a.title }}</td>
      <td>{{ a.text}} </td>
      <td>  
        <button style="margin-left: 500px;" class="btn btn-info" (click)="updatePost(a.post_id)">Update</button>
      </td>  
    </tr>
</table>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <label for="name">Title:</label>
  <input type="text" id="title" formControlName="title">
  <br>
  <label for="description">Text:</label>
  <input type="text" id="text" formControlName="text">
  <br>
  <button type="submit">Search</button>
</form>

