<table id="post-table">
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Reaction count</th>
      <th>Comment count</th>
    </tr>
    <tr *ngFor="let a of searchResults">
      <td>{{ a.title }}</td>
      <td>{{ a.text}} </td>
      <td>{{ a.netReactions}} </td>
      <td>{{ a.commentCount }}</td>
      <td>  
        <button (click)="navigateToCommunity(a.communityId)">View Community</button>
        <button style="margin-left: 20px;" class="btn btn-success" (click)="upvotePost(a.post_id)">Upvote</button>
        <button style="margin-left: 10px;" class="btn btn-danger" (click)="downvotePost(a.post_id)">Downvote</button>
        <button style="margin-left: 500px;" class="btn btn-info" (click)="updatePost(a.post_id)">Update</button>
        <button class="btn btn-info" (click)="showComments(a.post_id)">Comments</button>
      </td>  
    </tr>
</table>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <label for="title">Title:</label>
  <input type="text" id="title" formControlName="title">

  <label for="text">Text:</label>
  <input type="text" id="text" formControlName="text">

  <label for="fromReactionCount">From Reaction Count:</label>
  <input type="number" id="fromReactionCount" formControlName="fromReactionCount">

  <label for="toReactionCount">To Reaction Count:</label>
  <input type="number" id="toReactionCount" formControlName="toReactionCount">

  <button type="submit">Search</button>
</form>


